# Google Credentials & Tokens
credentials.json
token.json

# User Data (Privasi)
data_user.csv

# System Files & Env
__pycache__/
*.pyc
Env/               <-- Tambahan Lu
venv/

# Dokumen Pribadi (Yg barusan lu hapus)
Selected.docx      <-- Tambahan Lu
Not Selected.docx  <-- Tambahan Lu
portfolio.html     <-- Tambahan Lu